body {
	background-color: #fff4ee;
	font-family: 'EB Garamond', serif;
}

h1 {
	font-size: 72px;
}

h2 {
	font-size: 36px;
	margin-bottom: -25px;
}

h5 {
	font-size: 18px;
}

p {
	line-height: 1.6;
	text-indent: 50px;
	margin-bottom: 20px;
}

#container {
	max-width:800px;
	margin: auto;
	padding-left: 40px;
	padding-right: 40px;
}

.subsection {
	margin-bottom: 120px;
}